@import "tailwindcss";

@keyframes move-stars {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

.stars {
  background: black
    url("https://www.transparenttextures.com/patterns/stardust.png") repeat;
  animation: move-stars 200s linear infinite;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}
